div {
    position: relative; /* установка положения для псевдоэлемента */
    width: 50%; /* ширина div */
    height: 100px; /* высота div */
    background-color: gray; /* цвет фона div */
    margin-left: 200px;
  }
  
  div::before {
    content: "-"; /* необходимо добавить содержимое, иначе псевдоэлемент не отобразится */
    position: absolute; /* установка абсолютного положения */
    top: 50%; /* положение по вертикали */
    left: 0; /* положение по горизонтали */
    width: 100%; /* ширина псевдоэлемента */
    height: 1px; /* высота линии */
    background-color: black; /* цвет линии */
    transform: translateY(-50%); /* смещение линии на половину ее высоты вверх */
  }