body {
    font-family: 'Noto Sans Display', sans-serif;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
}
.test {
    background: linear-gradient(to right, #7eb949, #b5d04a);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    font-size: 30px;
    color: white;
    /* height: 200px;
    width: 400px; */
}  





.header {
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}
.header__img {
    max-width: 100%;
}
.border {
    margin-top: 30px;
    /* font-size: 20px; */
    border: 2px solid #86bc49;
    padding: 15px 20px;
    border-radius: 10px;
    color: #86bc49;
}
.video {
    /* display: flex;
    margin-top: 30px; */
    margin-bottom: 30px;

}
.video__item {
    max-width: 100%;
    margin-bottom: 20px;
}
.video__img {
    max-width: 100%;
}
.video__item-wrap {
    /* flex-basis: 30%; */
}
.video__info {
    /* flex-basis: 10%; */
    max-width: 100%;
}
.video__text {
    padding: 20px 10px 0px 10px;
    font-weight: 600;
    /* font-size: 25px; */
}
.video__invite {
    max-width: 100%;
}

.section {
}
.section__text {
    margin-bottom: 20px;
}
.title {
    max-width: 100%;
    margin-bottom: 20px;
}

.title__border {
    margin-top: 30px;
    /* font-size: 20px; */
    border: 2px solid #86bc49;
    padding: 15px 20px;
    border-radius: 10px;
    color: #86bc49;
}
.icon-box-wrap {
    display: flex;
    flex-direction: column;
}
.icon-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.icon {
    width: 50px;
    margin-right: 10px;
}
.icon-box__text {
    font-size: 16px;
}

.footer {
    background-color: #86bc49;
}

.footer-wrap {
    display: flex;
    padding: 20px;
    align-items: center;
}
.footer__school {
    width: 100%;
    
}
.footer-vk {
    width: 100%;
}
.footer-tlg {
    width: 100%;
}
.footer-div:first-child {
    margin-right: auto;
}

