body {
    font-family: 'Noto Sans Display', sans-serif;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 1.4;
}
.pd-long {
   padding: 20px 0px;
}

.title {
    /* background: linear-gradient(to right, #7eb949, #b5d04a); */
    display: flex;
    border-radius: 20px;
    margin: 30px auto 20px;
    font-size: 30px;
    color: white;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}  
.reg-link {
    color: white;
}
.title-txt {
    color: white;
    display: block;
    background: linear-gradient(to right, #7eb949, #b5d04a);
    padding: 10px 30px;
    border-radius: 40px;
    text-align: center;
    white-space: pre-line;

}
.title-long {
    padding: 0px 150px;
}
.title-line {
    width: 40%;
    position: relative;
}
.title-line::before,
.title-line::after {
    /* width: 100px;
    height: 200px; */
    content: "";
    position: absolute;
    /* top: 0;
    bottom: 0; */
    background-image: url(/img/Line-left.svg);
}
.title-question {
    display: flex;
    margin: 20px 0px 10px;
    align-items: center;
}
.title-question-img {
    width: 50px;
    margin-right: 20px;
}
.title-question-text {
    font-size: 40px;
    background: linear-gradient(to right,  #7eb949, #b5d04a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color {
    color: #53b101;
    font-weight: 600;
}


.header {
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    
}
.header__img {
    max-width: 100%;
}
.border {
    margin-top: 20px;
    text-align: center;
    border: 2px solid #86bc49;
    padding: 15px 20px;
    border-radius: 10px;
    color: #86bc49;
}
.video {
    /* display: flex;
    margin-top: 30px; */
    margin-bottom: 30px;

}
.video__item {
    max-width: 100%;
    margin-bottom: 20px;
}
.video__img {
    max-width: 100%;
}
.video__item-wrap {
    /* flex-basis: 30%; */
}
.video__info {
    /* flex-basis: 10%; */
    max-width: 100%;
}
.video__text {
    padding: 20px 10px 0px 10px;
    font-weight: 600;
    /* font-size: 25px; */
}
.video__invite {
    max-width: 100%;
}

.section {
    
}
.section__text {
    /* margin-bottom: 20px; */
}

.title__border {
    margin-top: 30px;
    /* font-size: 20px; */
    border: 2px solid #86bc49;
    padding: 15px 20px;
    border-radius: 10px;
    color: #86bc49;
}
.icon-box-wrap {
    display: flex;
    flex-direction: column;
}
.icon-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.icon {
    width: 50px;
    margin-right: 10px;
}
.icon-box__text {
    font-size: 16px;
}

.footer {
    background-color: #86bc49;
}

.footer-wrap {
    display: flex;
    padding: 20px;
    align-items: center;
}
.footer__school {
    width: 100%;
    
}
.footer-vk {
    width: 100%;
}
.footer-tlg {
    width: 100%;
}
.footer-div:first-child {
    margin-right: auto;
}

@media(max-width: 800px) {
    body {
        font-size: 14px;
    }

    .title-txt {
        font-size: 20px;
        padding: 10px 40px;
    }
    .title-question-img {
        width: 50px;
        height: 56px;
    }
    .title-question-text {
        font-size: 20px;
    }
}

.footer-sub-title {
    color: grey;
    display: block;
    text-align: center;
}